psutil==5.9.6
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pywin32==306
WMI==1.5.1
- name: Set up Python
  uses: actions/setup-python@v3
  with:
    python-version: 3.11

- name: Install dependencies
  run: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
